<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KBA ToDo List Dapp on Ethereum</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1> ToDo List: Start Adding Task.............!!!!</h1>
  <br>
  <br>
  <p> You can add new tasks here......</p>

  <form method="POST" action="createTask">
    <input id="Task" name="Task" type="text" placeholder="Task">
    

    <input type="submit" value="Create Task" />
    <br>
    <br>
    <br>
  </form>
  <p align="center"> Task Details</p>
  <table id="tasks"  >
    <tr>
    <th>Sl.No</th>
    <th>Task</th>
    <th>Status</th>
    <th></th>
    </tr>
    <% 
      taskArray.forEach(function(el, index) {
    %>
    <tr>
      <td><%=el.id %></td>
      <td><%=el.content %></td>
    <% 
      if (el.status == true){
    %>
      <td>Completed</td>
      <td></td>
    <%
      }else{
    %>
      <td>Pending</td>
      <td><a href="/completeTask?taskid=<%=el.id %>">Complete Task</a></td>
    </tr>
    <%
      }
    });
    %>

  </table>




  <div class="footer">&copy; Copyright 2019, Kerala Blockchain Academy</div>

  </footer>
</body>

</html>