body {
  background-image: url("https://boundlesstech.net/wp-content/uploads/2018/12/Background-opera-speeddials-community-web-simple-backgrounds.jpg");
  background-attachment: fixed;

  padding: 25px;
   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
  background-color: #cccccc;
  font-family: 'Raleway','Source Sans Pro', 'Arial';
}

#tasks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 7px solid rgb(27, 26, 26);
  border-radius: 8px;

}

#tasks td, #tasks th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(65, 113, 126);
  color: white;
  font-weight: bold;
  font-size: 20px
}
h1 {
	
	color:rgb(35, 45, 92) ;
	font-weight: bold;
  font-family: 'American Typewriter', serif;   
  font-style: italic;
	font-size: 50px;
	line-height: 50px;
	text-transform: capitalize;

  text-align: center;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(65, 113, 126);
  border: 2px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Ultra', sans-serif; 
  font-size: 18px;
  width: 200px;
    
}

input[type=text] {
  width: 474px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  height: 40px; 
  font-weight: bold;
  font-family: 'Ultra', sans-serif; 
  font-size: 14px;
  text-emphasis-color: black;
}
h2 {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #343434;
	
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
}
p {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: #000000;
	text-transform: capitalize;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}
p1{
	margin: 1em 0 0.5em 0;
  font-weight: 600;
  text-align: center;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: #000000;
	text-transform: capitalize;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
  text-align: center;
}
body select { 
  display: block;
  padding: 10px 70px 10px 13px !important; 
  max-width: 100%; 
  height: auto !important; 
  border: 1px solid #e3e3e3; 
  border-radius: 3px; 
 
  background-color: #fff; 
  color: #444444; 
  font-size: 16px; 
  font-weight: bold;
  line-height: 16px !important; 
  appearance: none; 
  /* this is must */ -webkit-appearance: none; 
  -moz-appearance: none; 
} 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* body select.select_box option */ 
body select option { 
  padding: 0 4px; 
} 
/* for IE and Edge */ 
select::-ms-expand { 
  display: none; 
} 
select:disabled::-ms-expand { 
  background: #f60; 
}
.container {
  width: 50%;
  margin: 0 auto;
}
label {
  display:block;
  margin-bottom:10px;
}

button {
  margin: 2em 0;
  padding: 1em 4em;
  display:block;
}